*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.supreme-container{
    min-height: 100vh;
    background-color: #10451d;
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px auto;
    gap: 1em;
    margin-bottom: 100px;
}
.btn{
    background-color: #208b3a;
    color: #b7efc5;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    padding: 0.2em 2em;
    border: 1px solid #b7efc5;
    border-radius: 69px;
}
.btn:hover{
    cursor: pointer;
    background-color: #1a7431;
}

.spinner-container{
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.spinner1{
    display:flex;
}
.spinner1 > .spinner-part{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: #333;
}
.spinner1 > .spinner-part.a{
    /* border-top-color: steelblue; */
    animation: rotate1 1s ease-in infinite;
}
.spinner1 > .spinner-part.b{
    /* border-top-color: blueviolet; */
    animation: rotate1 2s ease-out infinite;
}
.spinner1 > .spinner-part.c{
    /* border-top-color: rgb(0, 224, 176); */
    animation: rotate1 1.5s ease-in-out infinite;
}
.spinner2{
    display: none;
}
.spinner2 >.spinner-part.a{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    animation: rotate1 1s linear infinite;
}
.spinner3{
    display: none;
}
.spinner3 > .spinner-part{
    position: absolute;
    height: 100px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background-color: pink; */
}
.spinner3 > .spinner-part.a{
    animation: rotate2 1.5s ease-in 0.5s infinite;
}
.spinner3 > .spinner-part.b{
    animation: rotate2 1.5s ease-in 0.6s infinite;
}
.spinner3 > .spinner-part.c{
    animation: rotate2 1.5s ease-in 0.7s infinite;
}
.spinner3 > .spinner-part.d{
    animation: rotate2 1.5s ease-in 0.8s infinite;
}
.spinner3 > .spinner-part.e{
    animation: rotate2 1.5s ease-in 0.9s infinite;
}
.spinner3 .spinner-wing-inner{
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    box-shadow: 0 0 5px #333;
}

.spinner4{
    display: none;
}
.spinner4 > .spinner-part{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: #333;
    border-bottom-color: #333;
    animation: rotate1 1s linear infinite;
}
@keyframes rotate1{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
@keyframes rotate2{
    0%{transform: rotate(0);}
    60%, 100%{transform: rotate(360deg);}
}