*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --bg-color: white;
    --btn-primary: orangered;
    --text-color: var(--bg-color);
    --header-color: black;
    --angle: 0;
}
body.dark{
    --bg-color: #333;
    --btn-primary: greenyellow;
    --header-color: white;
}

.supreme-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    transition: all 0.3s ease-in;
}
.btn{
    outline: none;
    border: none;
    border-radius: 690px;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: var(--text-color);
    background-color: var(--btn-primary);
    padding: 1rem 3rem;
    transition: all 0.3s ease-in;
}
h1{
    color: var(--header-color);
    transition: all 0.3s ease-in;
}
.icon-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
    height: 40vmin;
    top: 30;
    transition: all 0.3s ease-in;
    transform: rotate(calc(var(--angle) * 1deg));
}
.sun-icon{
    fill: orangered;
    transition: all 0.3s ease-in;
}
.moon-icon{
    fill: greenyellow;
    opacity: 0;
    transform: rotate(180deg);
    transition: opacity 0.3s ease-in;
}
body.dark .moon-icon{
    opacity: 1;
}
body.dark .sun-icon{
    opacity: 0;
}