*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --nav-color: #208b3a;
    --nav-hover: #1a7431;
    --nav-anim-duration: 0.5s;
}

.supreme-container{
    background-color: #10451d;
    min-height: 100vh;
}
nav{
    background-color: var(--nav-color);
    padding: 0 5em;
    animation: nav-anim var(--nav-anim-duration) ease-out;
    animation-fill-mode: forwards;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
li a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #fffd;
    display: inline-block;
    padding: 1rem 3em;
}
li{
    transition: all 0.2s ease-in-out;
}
li:hover{
    background-color: var(--nav-hover);
    cursor: pointer;
}

main{
    padding: 3em;
    color: #b7efc5;
}
h2{
    margin-bottom: 1em;
    animation: text-anim 0.3s ease-in var(--nav-anim-duration) forwards;
    opacity: 0;
}
article{
    margin-bottom: 2em;
}
p{
    animation: text-anim 0.3s ease-in var(--nav-anim-duration) forwards;
    opacity: 0;
}


@keyframes nav-anim{
    0% {
        transform: translateY(-100%);
    }
    60% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-20%)
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes text-anim{
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}